@model App.Models.ServicioComision

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ServicioComision</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdServicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdServicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ciudad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ciudad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Barrio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Barrio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrecioVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioVenta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrecioServicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioServicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Caracteristicas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Caracteristicas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PorcentajeComision)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PorcentajeComision)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalComision)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalComision)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
